<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; margin: 30px 20px;">
        <h2>Hasan Demirci'nin unutulmaz Röveşata şutu</h2>
        <div style="width: 100%;">
            <img src="/assets/gif/hasan-gif.gif" alt="">
        </div>
        <audio autoplay loop controls>
            <source src="assets/audio/kaybolan-yillarim.mpeg" type="audio/mpeg">
        </audio>
    </div>
</body>
</html>