<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; margin: 30px 20px;">
        <h2>Efsane Kadromuz</h2>
        <ul style="list-style: none;">
            <li>Ahmet Barış Dur: 01</li>
            <li>Ali Hasçelik: 03</li>
            <li>Rıfat Memigüven: 04</li>
            <li>Burak Yurttakalan: 07</li>
            <li>Hasan Demirci: 08</li>
            <li>Samet Kozan: 09</li>
            <li>Abdülkadir Şafak: 10</li>
            <li>Aykut Kırcan: 14</li>
            <li>Berkay Demir: 16</li>
            <li>Ali Osman Aydın: 40</li>
            <li>Ertan Uzunoğlu: 54</li>
            <li>Talha Sobacı: 60</li>
            <li>Enes Akgün: 61</li>
            <li>Yaşar Emirhan Turhan: 94</li>
            <br>
            <li>TD: Mehmet MUHÇU</li>
        </ul>

        <span>Hasan Demirci'nin MÜTHİŞ Röveşata şutu için <a href="/hasan-rovesata">TIKLAYINIZ</a>.</span>
        <br>
        <br>
        <br>
        <a href="/">
            <span>Anasayfa için TIKLAYIN.</span>
        </a>
    </div>
</body>
</html>
