<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öperlerspor</title>
</head>
<body>
    <div style="text-align: center; margin: 30px 20px;">
        <h1>ÖperlerSpor Resmi Websitesidir</h1>
        <div style="width: 100%;">
            <img style="width: 100%;" src="/assets/images/welcome.png" alt="welcome">
        </div>
        <a href="/kadro">
            <span>Öperlerspor'umuz şampiyon kadrosu için TIKLAYIN.</span>
        </a>
    </div>
</body>
</html>